VITE_API_BASE_URL=
VITE_USER_API_URL=http://localhost:5001
VITE_MENU_API_URL=http://localhost:5002
VITE_ORDER_API_URL=http://localhost:5003
VITE_PAYMENT_API_URL=http://localhost:5004
VITE_AUTH_MODE=mock
VITE_COGNITO_USER_POOL_ID=
VITE_COGNITO_CLIENT_ID=
VITE_MOCK_USER_ID=user-1
VITE_MOCK_USER_NAME=Foodie WE Guest
VITE_MOCK_USER_ROLE=USER
