PORT=5004
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:5173
PAYMENT_SUCCESS_RATE=1
PAYMENTS_TABLE_NAME=PaymentsTable
DYNAMODB_ENDPOINT=
ORDER_SERVICE_URL=http://localhost:5003
INTERNAL_SERVICE_TOKEN=
