{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "WriteBuildLogs",
      "Effect": "Allow",
      "Action": [
        "logs:CreateLogGroup",
        "logs:CreateLogStream",
        "logs:PutLogEvents"
      ],
      "Resource": ${log_resources}
    },
    {
      "Sid": "UseSourceConnection",
      "Effect": "Allow",
      "Action": [
        "codestar-connections:UseConnection",
        "codeconnections:UseConnection"
      ],
      "Resource": "${codeconnection_arn}"
    },
    {
      "Sid": "UpdatePaymentLambdaOnly",
      "Effect": "Allow",
      "Action": [
        "lambda:GetFunction",
        "lambda:UpdateFunctionCode"
      ],
      "Resource": "${payment_lambda_arn}"
    },
    {
      "Sid": "Artifacts",
      "Effect": "Allow",
      "Action": [
        "s3:GetObject",
        "s3:PutObject"
      ],
      "Resource": "${artifact_bucket_arn}/*"
    }
  ]
}
