PORT=5001
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:5173
MOCK_COGNITO_SUB=mock-cognito-sub-123
MOCK_USER_ROLE=USER
USERS_TABLE_NAME=UsersTable
COGNITO_USER_POOL_ID=
COGNITO_APP_CLIENT_ID=
