PORT=5003
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:5173
MENU_SERVICE_URL=http://localhost:5002
MOCK_USER_ID=user-1
MOCK_USER_ROLE=USER
ORDERS_TABLE_NAME=OrdersTable
COGNITO_USER_POOL_ID=
COGNITO_APP_CLIENT_ID=
